# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.autonauts-case-study.iml
# Datasource local storage ignored files
/../../../../../../../:\Repos\autonauts-case-study\autonauts-case-study\.idea\.idea.autonauts-case-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
